*{
    margin:0;
    padding:0;
}

body{
    padding:50px;
    color:#9900ff
}
.headerp{
    font-weight: bold;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color:#9900ff;
}
.header a{
    color:#9900ff;
    margin-left: 50px;
}
p{
    color:#9900ff;
    text-align:center;
}
